.talent-tree {
  width: 100%;
  height: 510px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  z-index: 10;
}
.page.animated .talent-tree {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.page.open .talent-tree {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.skill {
  width: 80px;
  height: 80px;
  position: absolute;
}
.skill .icon-container {
  position: absolute;
  background: black;
  width: 60px;
  height: 60px;
  padding: 5px;
  top: 5px;
  left: 5px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 6px 11px #000000;
  -moz-box-shadow: 0 6px 11px #000000;
  box-shadow: 0 6px 11px #000000;
  overflow: hidden;
  z-index: 2;
}
.skill .icon {
  width: 100%;
  height: 100%;
  background: url(../../img/skills.png) no-repeat top left;
  background-size: 600px 680px;
  -moz-opacity: 0.35;
  -khtml-opacity: 0.35;
  -webkit-opacity: 0.35;
  opacity: 0.35;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=35);
  filter: alpha(opacity=35);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.skill .frame {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../../img/sprite.png) no-repeat top left;
  z-index: 3;
}
.skill:hover .tool-tip {
  visibility: visible;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  -webkit-transition: all 0.3s 0.3s ease-out;
  -moz-transition: all 0.3s 0.3s ease-out;
  -o-transition: all 0.3s 0.3s ease-out;
  transition: all 0.3s 0.3s ease-out;
  z-index: 5 !important;
}

.skill .hit-area {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 2;
}
.skill.can-add-points .frame {
  background-position: -80px top;
}
.skill.can-add-points .skill-dependency {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
}
.skill.has-points .icon {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
}
.skill.has-max-points .frame {
  background-position: -160px top;
}
.skill.has-max-points .skill-dependency {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
}
.skill .skill-points {
  position: absolute;
  z-index: 1;
  bottom: 5px;
  right: 5px;
  color: white;
  font-size: 11px;
  line-height: 1em;
  width: 19px;
  text-align: center;
}
.skill .tool-tip {
  visibility: hidden;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: #000;
  position: absolute;
  z-index: 5 !important;
  top: 5px;
  left: 80px;
  width: 300px;
  padding: 10px;
  -webkit-box-shadow: 0 6px 11px #000000;
  -moz-box-shadow: 0 6px 11px #000000;
  box-shadow: 0 6px 11px #000000;
  border: 1px solid #333;
}
.skill .tool-tip .current-rank-description {
  color: #fc3;
}
.skill .tool-tip .next-rank-description {
  -moz-opacity: 0.35;
  -khtml-opacity: 0.35;
  -webkit-opacity: 0.35;
  opacity: 0.35;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=35);
  filter: alpha(opacity=35);
  color: #fc3;
}
.skill .tool-tip .talent-summary {
  color: #fc3;
}
.skill .tool-tip .help-message {
  color: #c00;
}
.skill .skill-dependency {
  position: absolute;
  display: block;
  bottom: 73px;
  left: 50%;
  -moz-opacity: 0.35;
  -khtml-opacity: 0.35;
  -webkit-opacity: 0.35;
  opacity: 0.35;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=35);
  filter: alpha(opacity=35);
  pointer-events: none;
  background: url(../../img/arrow-sprite.png) no-repeat top left;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  z-index: 1 !important;
}
/**************************************************
    DEPENDENCY ARROWS
  **************************************************/
[data-skill-id="4"] .skill-dependency {
  margin-left: -15px;
  width: 350px;
  height: 60px;
  background-position: -285px -75px;
}

[data-skill-id="3"] .skill-dependency {
  margin-left: 15px;
  width: 60px;
  height: 40px;
  background-position: -740px -70px;
  margin-bottom: -50px;
}

[data-skill-id="8"] .skill-dependency {
  margin-left: -85px;
  width: 60px;
  height: 40px;
  background-position: -640px -70px;
  margin-bottom: -50px;
}

[data-skill-id="9"] .skill-dependency {
  margin-left: -20px;
  width: 120px;
  height: 80px;
  background-position: -40px -55px;
}

[data-skill-id="11"] .skill-dependency {
  margin-left: -120px;
  width: 40px;
  height: 130px;
  background-position: 0px -135px;
  margin-bottom: -100px;
  transform: rotate(-90deg);
}

[data-skill-id="12"] .skill-dependency {
  margin-left: -60px;
  width: 120px;
  height: 80px;
  background-position: -160px -55px;
}

[data-skill-id="13"] .skill-dependency {
  margin-left: -20px;
  width: 40px;
  height: 60px;
  background-position: -0px -285px;
}

[data-skill-id="14"] .skill-dependency {
  margin-left: -20px;
  width: 40px;
  height: 60px;
  background-position: -0px -285px;
}

[data-skill-id="14"] .skill-dependency.second {
  margin-left: -120px;
  width: 40px;
  height: 130px;
  background-position: 0px -135px;
  margin-bottom: -100px;
  transform: rotate(-90deg);
}

[data-skill-id="15"] .skill-dependency {
  margin-left: -20px;
  width: 40px;
  height: 60px;
  background-position: -0px -285px;
}

[data-skill-id="16"] .skill-dependency {
  margin-left: -60px;
  width: 120px;
  height: 80px;
  background-position: -160px -55px;
}

[data-skill-id="17"] .skill-dependency {
  margin-left: -85px;
  width: 60px;
  height: 40px;
  background-position: -640px -70px;
  margin-bottom: -50px;
}

[data-skill-id="18"] .skill-dependency {
  margin-left: -20px;
  width: 120px;
  height: 80px;
  background-position: -40px -55px;
}

[data-skill-id="20"] .skill-dependency {
  margin-left: -20px;
  width: 120px;
  height: 80px;
  background-position: -40px -55px;
}

[data-skill-id="22"] .skill-dependency {
  margin-left: 80px;
  width: 40px;
  height: 130px;
  background-position: 0px -135px;
  margin-bottom: -100px;
  transform: rotate(90deg);
}

[data-skill-id="23"] .skill-dependency {
  margin-left: -20px;
  width: 40px;
  height: 60px;
  background-position: -0px -285px;
}

[data-skill-id="24"] .skill-dependency {
  margin-left: -20px;
  width: 40px;
  height: 60px;
  background-position: -0px -285px;
}

[data-skill-id="25"] .skill-dependency {
  margin-left: -60px;
  width: 120px;
  height: 80px;
  background-position: -160px -55px;
}

[data-skill-id="26"] .skill-dependency {
  margin-left: -20px;
  width: 40px;
  height: 460px;
  background-position: -820px 10px;
  margin-bottom: -100px;
}

[data-skill-id="27"] .skill-dependency {
  margin-left: -60px;
  width: 120px;
  height: 80px;
  background-position: -160px -55px;
}

[data-skill-id="28"] .skill-dependency {
  margin-left: -20px;
  width: 40px;
  height: 60px;
  background-position: -0px -285px;
}

[data-skill-id="29"] .skill-dependency {
  margin-left: -20px;
  width: 120px;
  height: 80px;
  background-position: -40px -55px;
}

[data-skill-id="31"] .skill-dependency {
  margin-left: -20px;
  width: 120px;
  height: 80px;
  background-position: -40px -55px;
}

[data-skill-id="33"] .skill-dependency {
  margin-left: -20px;
  width: 120px;
  height: 80px;
  background-position: -40px -55px;
}

[data-skill-id="35"] .skill-dependency {
  margin-left: -20px;
  width: 120px;
  height: 80px;
  background-position: -40px -55px;
}

[data-skill-id="37"] .skill-dependency {
  margin-left: -20px;
  width: 40px;
  height: 60px;
  background-position: -0px -285px;
}

[data-skill-id="38"] .skill-dependency {
  margin-left: 15px;
  width: 60px;
  height: 40px;
  background-position: -740px -70px;
  margin-bottom: -50px;
}

[data-skill-id="39"] .skill-dependency {
  margin-left: -20px;
  width: 40px;
  height: 220px;
  background-position: -820px -125px;
  margin-bottom: 0px;
}

[data-skill-id="40"] .skill-dependency {
  margin-left: 15px;
  width: 60px;
  height: 40px;
  background-position: -740px -70px;
  margin-bottom: -50px;
}

[data-skill-id="41"] .skill-dependency {
  margin-left: 15px;
  width: 60px;
  height: 40px;
  background-position: -740px -70px;
  margin-bottom: -50px;
}

[data-skill-id="42"] .skill-dependency {
  margin-left: -60px;
  width: 120px;
  height: 80px;
  background-position: -160px -55px;
}

[data-skill-id="43"] .skill-dependency {
  margin-left: -85px;
  width: 60px;
  height: 40px;
  background-position: -640px -70px;
  margin-bottom: -50px;
}


/**************************************************
    ICON POSITIONS & SPRITES
  **************************************************/
/* 
  box size = 60px
  vertical diff = 125px
  horizontal narrow diff = 80px
  horizontal mid diff = 100px
  horizontal long diff = 160px
*/

/* start */
.skill[data-skill-id="1"] {
  left: 540px;
  top: 10px;
}

/* ===================================================================================== */
/* First line */
/* ===================================================================================== */
.skill[data-skill-id="1"] .icon {
  background: url(../../img/icon-sprite.png) no-repeat top left;
  background-position: -120px 0px;
}
.skill[data-skill-id="2"] {
  left: 0px;
  top: 135px;
}
.skill[data-skill-id="2"] .icon {
  background-position: -120px -480px;
}
.skill[data-skill-id="3"] {
  left: 320px;
  top: 135px;
}
.skill[data-skill-id="3"] .icon {
  background-position: 0px -140px;
}
.skill[data-skill-id="4"] {
  left: 420px;
  top: 135px;
}
.skill[data-skill-id="4"] .icon {
  background-position: -180px -70px;
}
.skill[data-skill-id="5"] {
  left: 500px;
  top: 135px;
}
.skill[data-skill-id="5"] .icon {
  background-position: -120px -410px;
}
.skill[data-skill-id="6"] {
  left: 580px;
  top: 135px;
}
.skill[data-skill-id="6"] .icon {
  background-position: -540px -340px;
}
.skill[data-skill-id="7"] {
  left: 740px;
  top: 135px;
}
.skill[data-skill-id="7"] .icon {
  background-position: -60px -622px;
}
.skill[data-skill-id="8"] {
  left: 840px;
  top: 135px;
}
.skill[data-skill-id="8"] .icon {
  background-position: -480px -410px;
}

.skill[data-skill-id="8"] {
  left: 840px;
  top: 135px;
}
.skill[data-skill-id="8"] .icon {
  background-position: -480px -410px;
}

/* ===================================================================================== */
/* 2nd Line */
/* ===================================================================================== */
.skill[data-skill-id="9"] {
  left: -40px;
  top: 260px;
}
.skill[data-skill-id="9"] .icon {
  background-position: -540px -210px;
}
.skill[data-skill-id="10"] {
  left: 40px;
  top: 260px;
}
.skill[data-skill-id="10"] .icon {
  background-position: -420px -210px;
}
.skill[data-skill-id="11"] {
  left: 220px;
  top: 260px;
}
.skill[data-skill-id="11"] .icon {
  background-position: -480px -210px;
}
.skill[data-skill-id="12"] {
  left: 460px;
  top: 260px;
}
.skill[data-skill-id="12"] .icon {
  background-position: -180px -140px;
}
.skill[data-skill-id="13"] {
  left: 580px;
  top: 260px;
}
.skill[data-skill-id="13"] .icon {
  background-position: -180px -410px;
}
.skill[data-skill-id="14"] {
  left: 740px;
  top: 260px;
}
.skill[data-skill-id="14"] .icon {
  background-position: -300px -622px;
}
.skill[data-skill-id="15"] {
  left: 840px;
  top: 260px;
}
.skill[data-skill-id="15"] .icon {
  background-position: -540px -410px;
}

/* ===================================================================================== */
/* 3rd Line */
/* ===================================================================================== */
.skill[data-skill-id="16"] {
  left: 0px;
  top: 385px;
}
.skill[data-skill-id="16"] .icon {
  background-position: -360px -210px;
}
.skill[data-skill-id="17"] {
  left: 100px;
  top: 385px;
}
.skill[data-skill-id="17"] .icon {
  background-position: -420px -280px;
}
.skill[data-skill-id="18"] {
  left: 180px;
  top: 385px;
}
.skill[data-skill-id="18"] .icon {
  background-position: 0px -280px;
}
.skill[data-skill-id="19"] {
  left: 260px;
  top: 385px;
}
.skill[data-skill-id="19"] .icon {
  background-position: -480px -280px;
}
.skill[data-skill-id="20"] {
  left: 420px;
  top: 385px;
}
.skill[data-skill-id="20"] .icon {
  background-position: -180px -550px;
}
.skill[data-skill-id="21"] {
  left: 500px;
  top: 385px;
}
.skill[data-skill-id="21"] .icon {
  background-position: -60px -550px;
}
.skill[data-skill-id="22"] {
  left: 580px;
  top: 385px;
}
.skill[data-skill-id="22"] .icon {
  background-position: -420px -550px;
}
.skill[data-skill-id="23"] {
  left: 740px;
  top: 385px;
}
.skill[data-skill-id="23"] .icon {
  background-position: -480px -340px;
}

/* ===================================================================================== */
/* 4th Line */
/* ===================================================================================== */
.skill[data-skill-id="24"] {
  left: 0px;
  top: 510px;
}
.skill[data-skill-id="24"] .icon {
  background-position: 0px -480px;
}
.skill[data-skill-id="25"] {
  left: 140px;
  top: 510px;
}
.skill[data-skill-id="25"] .icon {
  background-position: -120px -280px;
}
.skill[data-skill-id="26"] {
  left: 320px;
  top: 510px;
}
.skill[data-skill-id="26"] .icon {
  background-position: -360px -140px;
}
.skill[data-skill-id="27"] {
  left: 460px;
  top: 510px;
}
.skill[data-skill-id="27"] .icon {
  background-position: -120px -552px;
}
.skill[data-skill-id="28"] {
  left: 740px;
  top: 510px;
}
.skill[data-skill-id="28"] .icon {
  background-position: -300px 0px;
}

/* ===================================================================================== */
/* 5th Line */
/* ===================================================================================== */
.skill[data-skill-id="29"] {
  left: -40px;
  top: 635px;
}
.skill[data-skill-id="29"] .icon {
  background-position: -180px -480px;
}
.skill[data-skill-id="30"] {
  left: 40px;
  top: 635px;
}
.skill[data-skill-id="30"] .icon {
  background-position: -60px -480px;
}
.skill[data-skill-id="31"] {
  left: 280px;
  top: 635px;
}
.skill[data-skill-id="31"] .icon {
  background-position: -300px -552px;
}
.skill[data-skill-id="32"] {
  left: 360px;
  top: 635px;
}
.skill[data-skill-id="32"] .icon {
  background-position: -240px -140px;
}
.skill[data-skill-id="33"] {
  left: 700px;
  top: 635px;
}
.skill[data-skill-id="33"] .icon {
  background-position: -360px -410px;
}
.skill[data-skill-id="34"] {
  left: 780px;
  top: 635px;
}
.skill[data-skill-id="34"] .icon {
  background-position: -60px -340px;
}


/* ===================================================================================== */
/* 5th Line */
/* ===================================================================================== */
.skill[data-skill-id="35"] {
  left: 0px;
  top: 760px;
}
.skill[data-skill-id="35"] .icon {
  background-position: 0px -552px;
}
.skill[data-skill-id="36"] {
  left: 80px;
  top: 760px;
}
.skill[data-skill-id="36"] .icon {
  background-position: -540px -480px;
}
.skill[data-skill-id="37"] {
  left: 280px;
  top: 760px;
}
.skill[data-skill-id="37"] .icon {
  background-position: -300px -70px;
}
.skill[data-skill-id="38"] {
  left: 360px;
  top: 760px;
}
.skill[data-skill-id="38"] .icon {
  background-position: -60px -410px;
}
.skill[data-skill-id="39"] {
  left: 460px;
  top: 760px;
}
.skill[data-skill-id="39"] .icon {
  background-position: -360px -480px;
}
.skill[data-skill-id="40"] {
  left: 540px;
  top: 760px;
}
.skill[data-skill-id="40"] .icon {
  background-position: -300px -280px;
}
.skill[data-skill-id="41"] {
  left: 640px;
  top: 760px;
}
.skill[data-skill-id="41"] .icon {
  background-position: -420px 0px;
}
.skill[data-skill-id="42"] {
  left: 740px;
  top: 760px;
}
.skill[data-skill-id="42"] .icon {
  background-position: -540px -620px;
}
.skill[data-skill-id="43"] {
  left: 840px;
  top: 760px;
}
.skill[data-skill-id="43"] .icon {
  background-position: -180px -0px;
}

.start-helper {
  background: url(../../img/red-arrow.png) no-repeat left center;
  padding-left: 55px;
  position: absolute;
  top: 30px;
  left: 630px;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
}
.start-helper.active {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
}
